body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

thead {
    background-color: #3498db;
    color: #fff;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0e0e0;
}