header, main, footer {
    margin: 0 auto;
    padding: 0.6em;
    max-width: 550px;
}

main {
    box-sizing: border-box;
    display: block;
}

img{
    width: 40%;
}

header, footer {
    text-align: center;
    background-color: #89e1f7;
    color: white;
}