@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1, h2, h3 {
    font-family: roboto;
}

header{
    display: block;
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
    padding: 5px;
    max-width: 800px;
    background-color: #8DA1B9;
    color: rgb(255, 255, 255);
}

.margen{
    display: grid;
    /* background-color:aliceblue; */
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3%;
    max-width: 60%;
    text-align: center;
    margin: auto
    
}

.caja{
    display: block;
    text-align: center;
    background-color: #DBC7BE;
    height: auto;
    width: auto;
    border: 1px solid black;
    padding: 2%;
    display: inline;
}

img{
    height: 400px;
    width: 250px;
}

.titulos{
    border: 1px solid black;
    padding: 5px;
    background-color:#b3a39d;
}

h3{
    padding: 3%;
}

@media only screen and (max-width:320px) {
    main{
        grid-template-columns: 1fr;
    }
}

@media only screen and  (min-width:321px) and (max-width:768px) {
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and  (min-width:769px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
