@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

/* Global Styles */
body {
	font-family: 'Lato', Helvetica, sans-serif;
}

/* Header Styles */
header {
	background-color: #457B9D;
	color: #ffffff;
	display: flex;
	align-items: center;
	font-family: var(--heading-font);
	padding: 0.5em;
}

header img {
	width: 150px;
	align-items: flex-start;
}

header h1 {
	padding: 20px;
	font-size: 1.5em;
}

nav.social-images {
	display: flex;
	align-items: center;
}

nav.social-images img {
	width: 60px;
	height: auto;
	margin-right: 20px;
}

/* Navigation Styles */
nav {
	margin: 0 auto;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem 0.5rem;
	margin-right: 0.5rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: overline;
}

/* Main Content Styles */
main {
	display: block;
	text-align: center;
	font-family: 'Lato', Helvetica, sans-serif;
	padding: 20px;
}

/* Hero Section Styles */
.hero {
	position: relative;
}

.foto-fondo {
	width: 100%;
	height: auto;
	max-width: 100%;
}

.hero h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--headline-color-on-color);
	font-family: var(--heading-font);
}

/* Call to Action Styles */
.cta {
	background-color: var(--primary-color);
	color: var(--accent1-color);
	padding: 20px;
	margin-top: 20px;
}

/* Events Section Styles */
.events {
	background-color: var(--secondary-color);
	color: var(--accent1-color);
	padding: 20px;
	margin-top: 20px;
}

.events ul {
	list-style-type: none;
}

/* Weather Section Styles */
.weather {
	background-color: var(--primary-color);
	color: var(--accent1-color);
	padding: 20px;
	margin-top: 20px;
}

/* Footer Styles */
footer {
	background-color: #457B9D;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: var(--accent1-color);
	padding: 15px;
}

footer h3,
footer a {
	color: var(--accent1-color);
	text-decoration: none;
}

/* small Views ******************************/

@media (max-width: 640px) {
	#menu {
		display: block;
		font-size: 1.5rem;
		border: 0;
		background: none;
		color: #000;
		position: absolute;
		top: 1rem;
		right: 1rem;
		transition: color 0.3s;
	}

	#menu::before {
		content: "☰";
		color: #fff;
	}

	#menu.open::before {
		content: "X";
		color: #fff;
	}

	.navigation {
		display: none;
		flex-direction: column;
		background-color: #19505d;
		color: #fff;
		height: auto;
		transition: height 0.3s;
	}

	.navigation.open {
		display: flex;
		justify-content: center;
		height: auto;
	}

	.navigation a {
		display: block;
		padding: 1rem;
		text-align: center;
		text-decoration: none;
		color: #fff;
	}

	iframe {
		width: 100%;
		height: 300px;
	}
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}

	#menu {
		display: none;
		/* hide hamburger button */
	}
}

.navigation {
	flex-direction: row;
}

.navigation a {
	display: block;
	flex: 1 1 100%;
}