.nav{
    display: flex;
}

/* Header using Flexbox */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: hebrew;
    color: navy;
	padding: 0;
	margin: 0;
}

header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: flex-start;
    height: auto;
    margin-top: 5%;
	margin-left: 1rem;
    padding: 0%;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
    margin-right: 1.5rem;
    margin-top: 5%;
    flex: none;
    padding: 1%;
}

/* JavaScript Dates (Intl) */

.date{
    display: flex;
    display: block;
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}

/* Responsive 'Hamburger Menu' */

/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: flex;
    justify-content: right;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
    display: flex;
    justify-content: center;
	content: "🍔 ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}