@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #19515d56;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #19505d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

header,
main {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #19505d;
    margin: 0 auto;
    max-width: 600px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}

/* mobile **************************/

header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #19505d;
    margin: 0 auto;
    max-width: 600px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

main {
    display: grid;
    gap: 20px;
    justify-content: center;
}

#menu {
    display: none;
    /* hide hamburger button */
}

.navigation {
    flex-direction: row;
}

.navigation a {
    display: block;
    flex: 1 1 100%;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #333;
}

ul.course-links {
    list-style-type: none;
    padding: 0;
}

ul.course-links li {
    margin-bottom: 8px;
}

header {
    background-color: #19505d;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

footer {
    text-align: center;
    background-color: #19505d;
    color: white;
}

img {
    width: 45%;
    max-width: 100%;
    height: auto;
    padding: 1em;
}