:root {
    --primary-color: #19505d;
    --secondary-color: #19515d56;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 733px;
    margin: 0 auto;
}

img {
    width: 40%;
    max-width: 100%;
    height: auto;
    padding-right: 1em;
}

nav {
    background-color: var(--primary-color);
    margin: 0 auto;
    max-width: 600px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

@media (max-width: 640px) {
    #menu {
        display: block;
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
        color: #fff;
    }

    #menu.open::before {
        content: "X";
        color: #fff;
    }

    .navigation {
        display: none;
        flex-direction: column;
        background-color: #19505d;
        color: #fff;
    }

    .navigation.open {
        display: flex;
        justify-content: center;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
}

/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }
}

.navigation {
    flex-direction: row;
    max-width: 767px;

}

.navigation a {
    display: block;
    flex: 1 1 100%;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
}

input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #19505d80;
}

.error {
    color: red;
    margin-bottom: 1rem;
}